    <footer>
      <div class="container hidden-xs">
        <hr>
        <p class="center text-muted credit">&copy; 2014 Computer Science Department @ St. Bonaventure University<br>
        Made with &lt;3 by the SBUCS Hacker Team.</p>
      </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  </body>
</html>