<!DOCTYPE html>
<html lang="en">
  <!--
  “Progress is possible only if we train ourselves to think about programs without thinking of them as pieces of executable code.” - Edsger Dijkstra
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="author" content="St. Bonaventure Department of Computer Science">
  <meta name="apple-mobile-web-app-title" content="SBUCS">

  <link rel="apple-touch-icon" href="/assets/img/ios/appicon-60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/ios/appicon-72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/ios/appicon@2x.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/ios/appicon-72@2x.png" />

  <link rel="shortcut icon" href="/assets/favicon.ico">

  <title>{{ page.title }}</title>

  <link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/assets/css/sbucs.css" rel="stylesheet" media="screen">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>