<div class="navbar-wrapper navbar-wrapper-homepage">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top sbu-navbar-homepage">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Computer Science @ SBU</a>
          </div>
          <div class="navbar-collapse navbar-collapse-homepage collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/news">News &amp; Events</a></li>
              <li><a href="/awards">Grants &amp; Awards</a></li>
              <li><a href="/faculty">Facultly</a></li>
              <li><a href="/alumni">Alumni</a></li>
              <li><a href="/students">Students</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>