    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About the Department</a></li>
            <li><a href="/about/facilities">Our Facilities</a></li>
            <li><a href="/about/curriculum">Our Curriculum</a></li>
            <li><a href="/about/goals">Goals &amp; Objectives</a></li>
            <li><a href="/about/policy">Academic Policy</a></li>
            <li class="divider visible-xs"></li>
          </ul>
        </li>
        <li><a href="/awards">Grants &amp; Awards</a></li>
        <li><a href="/faculty">Facultly</a></li>
        <li><a href="/alumni">Alumni</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/students">Our Students</a></li>
            <li><a href="/students/dream">Dreamspark Membership</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/contest">Programming Contest</a></li>
            <li><a href="/girlsday">Girl's Day</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>