<!-- custom fat navbar for laptops / desktops -->
<div class="custom-header visible-lg">
  <div class="container">
    <div class="col-lg-12">
      <div class="pull-left">
        <a href="/"><img class="pull-left main-logo" src="/assets/img/BinaryBellTowerBrown.png" height="84" /></a>
        <h3 class="brown-title pull-right">The Department of Computer Science<br>at <a class="clean-link" href="http://www.sbu.edu">St. Bonaventure University</a></h3>
      </div>
      <div class="pull-right main-nav">
        <ul class="nav">

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              About Us <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/about">About the Department</a></li>
              <li><a href="/about/facilities">Our Facilities</a></li>
              <li><a href="/about/curriculum">Our Curriculum</a></li>
              <li><a href="/about/goals">Goals &amp; Objectives</a></li>
              <li><a href="/about/policy">Academic Policy</a></li>
            </ul>
          </li>
          <li><a href="/awards">Grants &amp; Awards</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/alumni">Alumni</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Students <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/students">Our Students</a></li>
              <li><a href="/students/dream">Dreamspark Membership</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Events <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/contest">Programming Contest</a></li>
              <li><a href="/girlsday">Girl's Day</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="custom-header-spacer visible-lg"></div>


<div class="navbar navbar-default navbar-fixed-top hidden-lg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Computer Science @ SBU</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About the Department</a></li>
            <li><a href="/about/facilities">Our Facilities</a></li>
            <li><a href="/about/curriculum">Our Curriculum</a></li>
            <li><a href="/about/goals">Goals &amp; Objectives</a></li>
            <li><a href="/about/policy">Academic Policy</a></li>
            <li class="divider visible-xs"></li>
          </ul>
        </li>
        <li><a href="/awards">Grants &amp; Awards</a></li>
        <li><a href="/faculty">Facultly</a></li>
        <li><a href="/alumni">Alumni</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/students">Our Students</a></li>
            <li><a href="/students/dream">Dreamspark Membership</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/contest">Programming Contest</a></li>
            <li><a href="/girlsday">Girl's Day</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>