body {
  background: #f6f6f6;
  padding-top: 60px;
}

a {
  color: #d35400;
}

.lead {
  padding-top: 15px;
  font-size: 16px !important;
}

.homepage-news {
  margin-top: -20px;
}

.sbu-prof-img {
  width: 100%;
  margin-top: 25px;
  margin-bottom: -75px;
}

.prof-info {
  margin-top: 25px;
}

.custom-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2100;
  width: 100%;
  height: 90px;
  background: #ffffff;
  border-bottom: 3px solid #5e2f24;
}

.custom-header-spacer {
  height: 40px;
}

.custom-header>h3 {
  font-size: 22px !important;
}

.main-logo {
  margin-left: -30px;
  margin-top: 2px;
  margin-right: 10px;
}

.main-nav {
  display: block;
  position: relative;
  top: 25px;
  width: auto;
}

.nav > a {
  color: #5e2f24;
}

.inliner {
  display: inline;
}

a.clean-link {
  text-decoration: none;
}

.nav > li {
  float: left;
}

.thumbnail {
  min-height: 500px;
  margin-bottom: 5px;
}
.course-table {
  border-bottom: 1px solid black;
}
.prof-contact {
  margin-right: 7%;
  text-align: left;
  padding-left: 5px !important;
}
.prof-cap {
  position: absolute;
  text-align: center;
  bottom: 0px;
}
.curr {
  margin-right: 50px;
}

/*
Grants Page
*/
.nsf-logo {
  float: right;
}

/*
Misc Classes
*/
.center {
  text-align: center;
}
.brown-title {
  color: #5E2F24;
  padding-bottom: 5px;
}

.put-me-in-line {
  display: inline;;
}

/*
Homepage Image Slider
*/
.carousel {
  margin-bottom: 60px;
  margin-top: -10px;
}
.carousel-caption {
  z-index: 10;
  color: #f0f0f0;
}
.carousel .item {
  height: 450px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}