body {
  padding-top: 60px;
  background: #f6f6f6;
}

.lead {
  padding-top: 15px;
  font-size: 16px !important;
}

.homepage-news {
  margin-top: -20px;
}

.sbu-prof-img {
  width: 100%;
  margin-top: 25px;
  margin-bottom: -75px;
}

.prof-info {
  margin-top: 25px;
}
.prof-card .thumbnail {
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}
.course-table {
  border-bottom: 1px solid black;
}
.prof-contact {
  margin-right: 7%;
  text-align: left;
  padding-left: 5px !important;
}
.prof-cap {
  text-align: center;
}
.curr {
  margin-right: 50px;
}

/*
Grants Page
*/
.nsf-logo {
  float: right;
}

/*
Misc Classes
*/
.center {
  text-align: center;
}
.brown-title {
  color: #5E2F24;
  padding-bottom: 5px;
}

/*
Homepage Image Slider
*/
.carousel {
  margin-bottom: 60px;
  margin-top: -90px;
}
.carousel-caption {
  z-index: 10;
  color: #f0f0f0;
}
.carousel .item {
  height: 450px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}