---
title: CSXYZ - Semester Year
layout: default
---
<div class="container sbu-content">
  <div class="row">
    <div class="col-sm-6">
      <h3>Computer Science XYZ<br>Computer Course Name<br>Semester 20XX</h3>
      <h4>Dr. Prof Name</h4>
    </div>
    <div class="col-sm-6">
      <h3>Course Resources</h3>
      <a href="" class="btn btn-primary btn-md">Course Syllabus</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Header</h3>

    </div>
  </div>
</div>

  <script language="JavaScript">document.writeln ("This page was last updated " + document.lastModified);</script>
